/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} */
@font-face {
    font-family: "HelveticalNow";
    src:local("HelveticaNowText-ExtraBold") ,
    url("HelveticaNowText-ExtraBold.woff2") format(".woff2");
    font-weight: 900;
}
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
  
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
  
input { outline: none; }
  
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
  
a { text-decoration: none; }
a:hover { text-decoration: none; }
header{
    background: linear-gradient(70deg, #7ec7ba, #41b3a3);
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 200;
    font-style: normal;
}
.headersThings{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
figcaption{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    font-weight: 700;
    text-align: left;
    padding: 0;
    font-size: 12px;
    text-wrap: wrap;
}


.headerLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    height: auto;
    margin-top: 15px;
    
    margin-bottom: 5px;
    transition: 0.4s;
}
.headerLogo:hover{
    color: #f7c3c1;
}
.navigation{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 200;
    margin-right: 23px;
}
.listOfNav{
    gap: 74px;
    display: flex;
    flex-direction: row;
}
.elementOfNavigation{
    margin-top: 25px;
    
}
.stripe{
    list-style-type: none;
    border-top: 1px solid black;
    color: transparent;    
    user-select: none;
    padding: auto;
    height: 1px;
    
}
.threeStripes{
    display: flex;
    flex-direction: column;
    height: 32px;
    width: 32px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 6px;
    transition: 0.1s;
}
.threeStripes:hover{
    background-color:  #0d9590;
}
.threeStripes:active{
    background-color: #c48d9d;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.comfortaa{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main{
    position: relative;
}
.topOfMain{
    position: relative;
    background-image: url(staticFiles/dark-souls-3-remaster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: block;
    color: #c74a3b;
    text-align: center;
    padding-left: 10px;
}
.topOfMain::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Затемнение, можно регулировать прозрачность */
    z-index: 0;
    
}
.topOfMain > * {
    position: relative;
    z-index: 1; /* Содержимое блока будет выше, чем затемненный фон */
}
.contacts{
    display: inline-flex;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 10px;
    text-align: end;
    gap: 12px;
    height: 32px;
    width: 32px;

}
.x-letter{
    
    font-size: 15px;
    position: relative;
    top: 10px;
}
.under{
    color: #EFEFEF;
    font-weight: 200;
    font-size: 15px;
}
.names{
    padding-top: 10px;
}
.lineOfPhotos{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    height: 300px;
}
.somePhoto img{

    height: 230px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    opacity: 0.5;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
}
#pic p{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#pic:hover .somePhoto img{
    opacity: 1;
}
#pic:hover p{
    opacity: 1;
}
.textAfterPhoto{
    color: #EFEFEF;
    width: 150px;
    font-size: 1.5em;
}
.battletoadsPic{
    position: relative;
    top: 100px;
}
.spaceShootPic{
    position: relative;
    top: 60px;
}
.MarioPic{
    position: relative;
    top: 40px;
}
.PacmanPic{
    position: relative;
    top: 60px;
}
.DukeNukemPic{
    position: relative;
    top: 100px;
}
p{
    font-size: 23px;
    font-family: "Comfortaa", sans-serif;
}
a{
    cursor: default;
    font-family: "Comfortaa", sans-serif;
    transition: 0.5s;
}


a:hover {
    color: #f7c3c1;
}

a:active {
    color: #d9c9c9;
}
h2{
    font-family: "Helve";
    font-weight: 700;
    font-size: 30px;
}
h1{
    font-family: "HelveticalNow";
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 0px;
    
}
em{
    font-weight: 400;
    font-family: "Comfortaa";
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }